@{
    ViewData["Title"] = "Todo App";
}

<div class="text-center">
    <h1>Todo App</h1>

    <div id="todoList">
        <!-- Todo items will be populated here via JavaScript -->
    </div>

    <button id="addTodo">Add Todo</button>
</div>

<script src="~/js/site.js"></script>
