@media (min-width: 1400px)  {
    .container {
        max-width: 1352px;
    }
}

body {
    background-color: #d8b136;
    font-size: 1.5rem;
}

.postIt-container {
    position: relative;
    background-color: #feff9c;
    width: 300px;
    height: 300px;
}

.pin {
    transform: scale(0.7);
    position: absolute;
    top: -20px;
    left: 100px;
}

.postIt {
    position: relative;
    top: 40px;
}

.postIt-body {
    hyphens: auto;
    text-align: center;
}

