@media (min-width: 1400px)  {
    .container {
        max-width: 1352px;
    }
}

@font-face {
    font-family: 'Handlee';
    src: url('/fonts/Handlee-Regular.ttf') format('truetype');
}

body {
    font-family: Handlee, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    background-image: url("/img/pinboard.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
}

h4 {
    font-size: 1.8rem;
    font-weight: 900;
}

::-webkit-scrollbar {
    display: none;
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #FFA500;
    border-radius: 6px; 
}

::-webkit-scrollbar-track {
    background-color: #f8f9fa; 
}

.header {
    position: relative;
    background-image: url('/img/tag.png');
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;    
}

#header-title {
    padding-top: 40px;
    color: gold;
    z-index: 1;
    font-weight: 900;
}

.addPostIt-container {
    width: 300px;
    height: 300px;
    animation: slidein 1s ease-out;
}

.addPostIt {
    position: relative;
    width: 250px;
    height: 250px;
    border: 10px solid #800000;
    border-radius: 50px;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    box-shadow: 4px 4px 15px 0px #353839;    
}

.addPostIt:hover {
    box-shadow: 0px 0px 15px 0px #a9a9a9;
    transform:  scale(1.05);
    cursor: pointer;
}

.plus {
    margin: 20%;
    width: 100%;
}

.postIt-container {
    margin: 1rem;
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 15px 0px #353839;
    transition: scale ease 0.5s, box-shadow ease 0.5s;
    rotate: var(--rot);
    background-color: var(--bg-col);
}

.postIt-container.fadeIn {
    animation: slidein 1s ease-out;
}

.postIt-container.fallDown {
    animation: fallDown 1s ease-out;
}

.postIt-container:hover {
    box-shadow: 0px 0px 15px 0px #a9a9a9;
    scale: 1.02; 
}
 
.postIt-container:hover ::-webkit-scrollbar {
    display: block;
}

.postIt-container:hover .checkmark {
    opacity: 1;
}

.postIt-container:has(.postIt-body:hover) .checkmark {
    opacity: 0;
}

.checkmark {
    position: absolute;
    width: 180px;
    top: 95px;
    left: 68px;
    z-index: 1;
    opacity: 0;
    transition: transform ease 0.5s, opacity ease 0.7s;
}

.checkmark:hover {    
    transform: scale(1.20);
    cursor: pointer;
}

.pin {
    transform: scale(0.7);
    transition: linear 0.3s;
    position: absolute;
    top: -20px;
    left: 100px;
}

.pin:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.postIt {
    position: relative;
    top: 40px;
}

.postIt-body {
    hyphens: auto;
    text-align: center;
    max-height: 180px;
}

.modal-title {
    font-weight: 900 !important;
}

.show {     
    opacity: 1;    
}

@keyframes slidein {
    0% {
        width: 0px;
        scale: 1.5;
        opacity: 0;
    }

    40% {
        width: 300px;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;        
    }
}

@keyframes fallDown {
    0% {
        transform: rotateZ(0deg);        
        top: 0;
        opacity: 1;
    }

    25% {
        transform: rotateZ(-15deg);
        width: 300px;
    }

    80% {
        top: 300px;        
        transform: rotateZ(-5deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
}