@media (min-width: 1400px) {
    .container {
        max-width: 1352px;
    }
}

@font-face {
    font-family: 'Handlee';
    src: url('/fonts/Handlee-Regular.ttf') format('truetype');
}

body {
    font-family: Handlee, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    background-image: url("/img/pinboard-adjusted.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
}

h4, h5 {
    font-size: 1.8rem;
    font-weight: 900;
}

::-webkit-scrollbar {
    display: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFA500;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.header {
    position: relative;
    background-image: url('/img/sign.png');
    background-size: 85% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#header-title {
    width: 60%;
    padding-top: 40px;
    color: black;
    z-index: 1;
    font-weight: 900;
    font-size: 3rem;
}

.addPostIt-container {
    width: 300px;
    height: 300px;
    animation: slidein 1s ease-out;
}

.addPostIt {
    position: relative;
    width: 250px;
    height: 250px;
    border: 10px solid #800000;
    border-radius: 50px;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    box-shadow: 4px 4px 15px 0px #353839;
}

.addPostIt:hover {
    box-shadow: 0px 0px 15px 0px #a9a9a9;
    transform: scale(1.05);
    cursor: pointer;
}

.plus {
    margin: 20%;
    width: 100%;
}

.postIt-container {
    margin: 16px;
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 15px 0px #353839;
    transition: scale ease 0.5s, box-shadow ease 0.5s;
    rotate: var(--rot);
    background-color: var(--bg-col);
}

.postIt-container.fadeIn {
    animation: slidein 1s ease-out;
}

.postIt-container.fallDown {
    animation: fallDown 1s ease-out;
}

.postIt-container:hover {
    box-shadow: 0px 0px 15px 0px #a9a9a9;
    scale: 1.02;
}

.postIt-container:hover ::-webkit-scrollbar {
    display: block;
}

.postIt-container:hover .pencil,
.postIt-container:hover .checkmark {
    opacity: 1;
}

.postIt-container:has(.postIt-body:hover) .checkmark {
    opacity: 0;
}

.pin {
    width: 66px;
    transition: ease-out 0.3s;
    position: absolute;
    top: -12px;
    left: 120px;
}

.pin:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.pencil {
    width: 30px;
    position: absolute;
    opacity: 1;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity ease-in 0.5s, transform ease 0.5s;
}

.pencil:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.checkmark {
    position: absolute;
    width: 180px;
    top: 95px;
    left: 68px;
    z-index: 1;
    opacity: 0;
    transition: transform ease 0.5s, opacity ease-in 0.5s;
}

.checkmark:hover {
    transform: scale(1.20);
    cursor: pointer;
}

.postIt {
    position: relative;
    top: 40px;
}

.postIt-body {
    hyphens: auto;
    text-align: center;
    max-height: 180px;
    overflow-wrap: break-word;
}

.modal-header {
    position: relative;
}

.modal-title {
    font-weight: 900 !important;
}

.btn-close {
    position: absolute;
    right: 4%;
}

.form-control {
    font-size: 1.3rem;
    font-weight: 500;
}

.control-label {
    font-weight: 600;
}

#title_add-error {
    font-size: 1rem;
    color: red;
}

#title_edit-error {
    font-size: 1rem;
    color: red;
}

#description_add-error {
    font-size: 1rem;
    color: red;
}

#description_edit-error {
    font-size: 1rem;
    color: red;
}

.modal-btn {
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

.modal-btn:hover {
    background-color: #00b5ff;
    color: gold;
}

.show {
    opacity: 1;
}

.star.star-xl {
    opacity: 0;
    width: 100px;
    position: absolute;
}

.star.star-md {
    opacity: 0;
    width: 75px;
    position: absolute;
}

.star.star-sm {
    opacity: 0;
    width: 50px;
    position: absolute;
}

@keyframes slidein {
    0% {
        width: 0px;
        scale: 1.5;
        opacity: 0;
    }

    40% {
        width: 300px;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes fallDown {
    0% {
        z-index: 4;
        transform: rotateZ(0deg);
        opacity: 1;
        translate: 0 0;
    }

    25% {
        transform: rotateZ(-15deg);
    }

    60% {
        width: 300px;
        margin: 16px;
        padding: 0 12px;
        transform: rotateZ(-5deg);
        translate: 0 300px;
        opacity: 0;
    }

    100% {
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
}
