.block {
    display: flex;
    width: 60%;
    height: 20px;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.block-add {
    width:60%;
    margin: 20px auto;
    padding: 10px;
   
    overflow: hidden;
    transition: all 0.3s ease;
}


.block-standart {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}


.e {
    gap: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

#todoName {
    border: none;
    padding-left: 5px;
    width: 100%;
}

    #todoName:focus {
    outline: none;
}

.name-wrap {
    display: flex;
    flex-grow: 2;
    border-bottom: 1px solid #ccc;
}

#todoComplete {
    padding-top: 10px;
}

#addTodoBtn {
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    align-items: end;
    width: 24px;
}
 
h2 {
    text-align: center;
    align-items: center;
}

.element-plus {
    width: 40px;
}

.element-plus:hover {
    opacity: 0.5;
}

.link-input {
    padding: 0;
    border: none;
    background: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link-input:hover {
    color: blue;
}


.delete-icon {
    cursor: pointer;
}


/* Приховуємо стандартний чекбокс */
.custom-checkbox input {
    display: none;
}

/* Стилізуємо чекбокс */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: white;
    position: relative;
    cursor: pointer;
}

/* Ефект наведення */
.custom-checkbox:hover .checkmark {
    background-color: #f0f0f0;
}

/* Стиль при виборі */
.custom-checkbox input:checked + .checkmark {

}

/* Галочка */
.custom-checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

