.hidden-checkbox {
    display: none;
}

.hidden-checkbox:checked ~ .todo-text {
    text-decoration: line-through;
    color: gray;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo-text {
    font-size: 16px;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}












.context-menu {
    display: none; /* Ховати меню за замовчуванням */
    position: absolute; /* Для позиціювання вказівником миші */
    background-color: #fff; /* Білий фон */
    border: 1px solid #ccc; /* Межі меню */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для естетики */
    z-index: 1000; /* Щоб меню було поверх інших елементів */
    list-style-type: none;
    width: 80px;
    height: 60px;
}




    .context-menu div {
        width: 100%; /* Розтягує на весь батьківський контейнер */
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: ;
        cursor: pointer;
        
        
    }

    .context-menu span {
        padding-left: 10px;
        flex: 1;
    }
    .context-menu span:first-child {
        padding-top: 5px;
    }
        .context-menu span:nth-child(2) {
            padding-top: 5px;
        }

.context-menu span:hover {
    
    background-color: #f0f0f0; /* Фон при наведенні */
}

.block.highlight {
    background-color: #e0e0e0; /* Світло-сірий фон */
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

