* {
    font-family: "Tiny5", sans-serif;
    color: whitesmoke;
    background-color: black;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: none;
    align-self: center;
    padding: 5px;
    background-color: #383737;
    margin: 5px 5px 10px;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

th {
    background-color: #f8f8f8;
    padding: 5px;
    
    color: black;

}
table *{
    margin:2px
}
td {
    border: 1px solid;
    padding: 5px;
}