@{
    ViewData["Title"] = "To-do App";
}

<button type="button" class="btn btn-success" id="create" style="margin: 0.1em 0px 1em 0px;">Create To do</button>
<div class="forms" id="forms" style="display: none;">
    <div class="form-group" id="createform">
        <label for="exampleInputEmail1">To do name</label>
        <input type="text" class="form-control" id="todoname" placeholder="Enter your to do's name'">
    </div>
    <div class="form-group">
        <input type="submit" value="Create" id="submitbutton" style="margin: 1em 0px 1em 0px;" class="btn btn-success" />
    </div>
</div>

<div class="todolist">
    <ul id="todolist">

    </ul>
</div>


@section Scripts{
    <script>
        const createButton = document.querySelector("#create");
        const forms = document.querySelector("#forms");
        const submitButton = document.querySelector("#submitbutton");
        const todoList = document.getElementById("todolist");
        var URL = "https://localhost:7280/todoitems/";
        var addedTodosNames = [];

        createButton.addEventListener('click', function(){
            forms.style.display = "block";
        })
        submitButton.addEventListener('click', () => {
            PostToDo();
        });

        GetTodoList();

        function GetTodoList()
        {
            fetch(URL)
                .then(response => response.json())
                .then(data => {
                    data.forEach((d) => {
                        var li = document.createElement("li");
                        var deleteButton = document.createElement("button");
                        var updateButton = document.createElement("button");
                        var markAsCompleteButton = document.createElement("button");
                        var markAsIncompleteButton = document.createElement("button");
                        var updateSubmitButton = document.createElement("button");

                        //Styling
                        deleteButton.classList.add('btn', 'btn-danger');
                        deleteButton.textContent = 'Delete';
                        updateButton.classList.add('btn', 'btn-primary');
                        updateButton.textContent = 'Update';
                        markAsCompleteButton.classList.add('btn', 'btn-success');
                        markAsCompleteButton.textContent = 'Mark as complete';
                        markAsIncompleteButton.classList.add('btn', 'btn-secondary');
                        markAsIncompleteButton.textContent = 'Mark as incomplete';
                        updateSubmitButton.classList.add('btn', 'btn-success');
                        updateSubmitButton.textContent = 'Submit';

                        deleteButton.addEventListener('click', () => {
                            DeleteTodo(d);
                        })
                        updateButton.addEventListener('click', () => {
                            var todoNameInputField = document.createElement("input");
                            todoNameInputField.setAttribute('type', 'text');
                            todoNameInputField.setAttribute('placeholder', 'Insert the new name of your to do');
                            todoNameInputField.setAttribute('size', todoNameInputField.getAttribute('placeholder').length);
                            todoNameInputField.setAttribute('id', 'updatetodo');
                            todoNameInputField.style.marginLeft = "15px";
                            li.appendChild(todoNameInputField);
                            li.appendChild(updateSubmitButton);
                        })
                        updateSubmitButton.addEventListener('click', () => {
                            d.name = document.getElementById("updatetodo").value;
                            UpdateTodo(d);
                        })
                        markAsCompleteButton.addEventListener('click', () => {
                            li.style.color = "green";
                            li.replaceChild(markAsIncompleteButton, markAsCompleteButton);
                            d.isComplete = true;
                            UpdateTodo(d);
                        })
                        markAsIncompleteButton.addEventListener('click', () => {
                            li.style.color = "black";
                            li.replaceChild(markAsCompleteButton, markAsIncompleteButton);
                            d.isComplete = false;
                            UpdateTodo(d);
                        })

                        li.appendChild(document.createTextNode(d.name));
                        if (d.isComplete == false) {
                            li.style.color = "black";
                            li.appendChild(markAsCompleteButton);
                        }
                        else if (d.isComplete == true) {
                            li.style.color = "green";
                            li.appendChild(markAsIncompleteButton);
                        }

                        li.appendChild(deleteButton);
                        todoList.appendChild(li);
                        li.appendChild(updateButton);
                    })
                })
                .catch(error => {
                    console.error(error);
                });
        }
        
        function DeleteTodo(d){
            URL = URL + encodeURIComponent(d.id)
            console.log(URL);
            var dataObject = {
                "id": d.id,
                "name": d.name,
                "isComplete": d.isComplete
            }
            fetch(URL, {
                method: "DELETE",
                body: JSON.stringify(dataObject),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(() => 
            {
                location.reload();
            })
        }

        function UpdateTodo(d) {
            URL = URL + encodeURIComponent(d.id)
            console.log(URL);
            var dataObject = {
                "id": d.id,
                "name": d.name,
                "isComplete": d.isComplete
            }
            fetch(URL, {
                method: "PUT",
                body: JSON.stringify(dataObject),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(() => 
            {
                location.reload();
            })
        }

        function PostToDo() {
            var todoName = document.getElementById("todoname").value;
            const areThereDuplicatedValues = addedTodosNames.some((x) => x == todoName)
            if (todoName === "") {
                alert("Please enter a todo name");
                return;
            }
            else if (areThereDuplicatedValues == true) {
                alert("Please don't enter a todo you added before");
                return;
            }
            addedTodosNames.push(todoName);

            var data = {
                "name": todoName,
                "isComplete": false
            };

            fetch(URL, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(() => 
            {
                location.reload()
            })
        }
    </script>
}