input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

.background {
    position:fixed;
    top:0;
    right:0;
    height: 150px;
    width: 150px;
    opacity: 25%;
    z-index: -1;
}