button {
  margin: 0.25rem;
  padding: 8px 16px;
  font-size: 14px;
}

input {
  margin-bottom: 0 !important;
}

.completed-marker-row td {
  background-color: darkgreen;
}

.incomplete-marker-row td {
  background-color: darkgoldenrod;
}

.overdue {
  color: darkgoldenrod;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}
