html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navstyle {
  background-color: #dfca62;
}

.bodystyle{
  background-color:  azure;
}

.banner {
  background-image: url("../img/tape.png");
  height: 250px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-save{
  position:absolute;
  right:2px;
  top:2px;
}
.accordion-heading{
  position:relative;
}